.event {
  padding: 40px 0 150px;
  &__container {
    .container();
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  &__tables{
    display: flex;
    flex-direction: row;
  }

  &__tickets{
    display: flex;
    flex-direction: row;
  }

}
