.form{
    &__list{
        display: flex;
        flex-wrap: wrap;
        gap: 30px 60px;
    }
    &__field{
        width:100%;
        margin: 0 0 30px;
        &--w50{
            width: calc(50%-30px);
        }
        &--m0{
            margin: 0;
        }
    }
    &__title{
        display: block;
        margin-bottom: 10px;
        font-weight: 700;
        font-size: 18px;
    }
}