.reserve {
  display: grid;
  gap: 65px 11%;
  grid-template-columns: 405px 1fr;
  grid-template-columns: 405px calc(89%-405px);
  //gap: 65px 11%;
  grid-template-areas:
    "checks scheme"
    "order legend";
  width: 100%;
  @media @bw1340 {
    grid-template-columns: 401px calc(93.5% - 401px);
    gap: 65px 6.5%;
  }
  @media @bw1020 {
    grid-template-columns: auto 390px;
    gap: 60px;
    grid-template-areas:
      "scheme scheme"
      "checks legend"
      "checks order";
  }
  @media @bw768 {
    grid-template-columns: 100%;
    grid-template-areas:
      "scheme"
      "legend"
      "checks"
      "order";
  }

  &__section-title {
    margin-bottom: 20px;
    font-weight: 700;
    @media @bw768 {
      text-align: start;
      font-size: 16px;
      line-height: 1.375;
    }
    &--s {
      font-weight: 600;
      @media @bw1020 {
        font-weight: 700;
      }
    }
  }

  &__checks {
    grid-area: checks;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-top: -55px;
    @media @bw1340 {
      margin-top: auto;
    }
    @media @bw1020 {
      margin-top: -205px;
    }
    @media @bw768 {
      margin-top: 0;
      margin-bottom: -40px;
    }
    .check {
      margin-top: 10px;
      margin-bottom: 0;
    }
  }

  &__schemes {
    grid-area: scheme;
  }

  &__scheme-container {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }

  &__scheme-title {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 162px;
    min-height: 34px;
    padding: 6px 56px;
    background-color: @black;
    color: @white;
    font-family: @font2;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    text-align: center;
    text-transform: uppercase;
  }

  &__scheme-wrapper {
    position: relative;
    width: 100%;
    &::after {
      content: "";
      display: block;
      width: 100%;
    }
  }

  &__scene {
    //position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__order {
    grid-area: order;
    display: flex;
    flex-direction: column;
    .reserve__section-title {
      align-self: flex-start;
    }
  }

  &__tickets {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 16px;
  }

  &__qty {
    &::after {
      content: " " attr(data-caption) " | " attr(data-price) " "
        attr(data-currency);
    }
  }

  &__sum {
    &::after {
      content: attr(data-currency);
      margin-left: 4px;
      font-size: 0.95em;
    }
  }

  &__total {
    &::before {
      content: attr(data-caption);
    }
    &::after {
      content: attr(data-currency);
    }
    margin-top: 10px;
    font-weight: 600;
    font-size: 20px;
  }

  &__submit {
    width: 100%;
    margin-top: 53px;
    min-width: 280px;
    max-width: 406px;
    @media @bw960 {
      align-self: center;
      max-width: 388px;
    }
    @media @bw370 {
      min-width: 270px;
    }
  }

  &__legend {
    grid-area: legend;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    @media @bw768 {
      align-items: flex-start;
    }
  }

  &__legend1,
  &__legend2 {
    box-sizing: border-box;
    position: relative;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    gap: 0 9px;
    margin-bottom: 15px;
    pointer-events: none;
  }

  &__legend-red,
  &__legend-black {
    box-sizing: border-box;
    display: block;
    width: 24px;
    height: 24px;
  }

  &__legend-red {
    background-color: @red;
  }

  &__legend-black {
    background-color: @black;
  }

  &__legend-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-wrap: nowrap;
    &--var {
      &::after {
        content: " " attr(data-price) " " attr(data-currency) " | "
          attr(data-number) " " attr(data-caption);
      }
    }
  }

  &__legend-available {
    display: inline-flex;
    flex-direction: row;
    gap: 0 21px;
  }

  &__legend-circles {
    display: block;
    position: relative;
    width: 100%;
    font-size: 0;
    text-decoration: none;
  }

  &__legend-booked {
    box-sizing: border-box;
    position: relative;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    gap: 0 29px;
    margin-top: 14px;
    pointer-events: none;
  }

  &__legend-gray {
    box-sizing: border-box;
    display: block;
    width: 23px;
    height: 23px;
    border: none;
    border-radius: 50%;
    padding: 3px;
    background-color: @gray_dark;
  }
}

.reserve > div {
  box-sizing: border-box;
  padding: 10px;
  text-align: center;
}
