html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
}

body{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-top: 147px;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.375;
  color: #1f1e1e;
}

.page-header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 147px;
  background-color: rgba(222, 222, 222, 0.5);
  backdrop-filter: blur(20px);
  z-index: 100;
}

.page-header__container{
  box-sizing: border-box;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1414px;
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 40px;
}

.page-header__logo{
  flex-shrink: 0;
  font-size: 0;
  width: 202px;
  height: 147px;
}

.page-header__logo-icon{
  width: 100%;
  height: 100%;
}

.page-header__nav{
  display: flex;
  align-items: baseline;
  margin: 0 auto;
  gap: 50px;
}

.page-header__nav-link {
  color: #1f1e1e;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.38;
  text-decoration: none;
  transition: color 0.2s;
} 

.page-header__nav-link:hover {
  color: #bc3324;
}

.page-header__right-block {
  display: flex;
  width: 202px;
  justify-content: flex-end;
  align-items: center;
}

.btn {
  display: inline-flex;
  box-sizing: border-box;
  padding: 15px 40px;
  border: 1px solid #1f1e1e;
  text-decoration: none;
  background-color: transparent;
  outline: none;
  color: #1f1e1e;
  font-family: "Open Sans", sans-serif;
  font-size: 600;
  font-size: 16px;
  line-height: 1.375;
  text-align: center;
  overflow: hidden;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
}

.btn:hover {
  background-color: #1f1e1e;
  color: #ffff;
}

.main {
  flex: 1 0 auto;
  background-color: grey;
}

h1{
    color:red;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.main-header {
  max-width: 1334px;
  margin: 0 auto 100px; 
}

.offers {
  max-width: 1334px;
  margin: 0 auto 100px; 
}

.about {
  max-width: 1334px;
  margin: 0 auto 100px; 
}

.upcomming {
  max-width: 1334px;
  margin: 0 auto 100px; 
}

.listing {
  max-width: 1334px;
  margin: 0 auto 100px; 
}

.contacts {
  max-width: 1334px;
  margin: 0 auto 100px; 
}

.page-footer {
  flex: 0 0 auto;
  background-color: blue;
}