h1{
    color:red;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.main-header {
  max-width: 1334px;
  margin: 0 auto 100px; 
}

.offers {
  max-width: 1334px;
  margin: 0 auto 100px; 
}

.about {
  max-width: 1334px;
  margin: 0 auto 100px; 
}

.upcomming {
  max-width: 1334px;
  margin: 0 auto 100px; 
}

.listing {
  max-width: 1334px;
  margin: 0 auto 100px; 
}

.contacts {
  max-width: 1334px;
  margin: 0 auto 100px; 
}